# Eclipse
.settings/
.metadata/
.classpath
.project

# intelliJ
.idea

# Maven
bin/
target/
.flattened-pom.xml

# Compiled class file
*.class

# Log file
*.log

# Crash files
.attach*

**/.pmd*

**/.factorypath
