######## RABBIT
spring:
  cloud:
    stream:
      defaultBinder: rabbit1

      binders:
        rabbit1:
          type: rabbit
          environment:
            spring:
              rabbit:
                host: localhost
      
      bindings:
        starship-input:
          destination: starship-input
          group: writers
          binder: rabbit1

      rabbit:
        default:
          exchangeType: headers
        bindings:
          starship-input:
            producer:
              exchangeType: headers
        
####### KAFKA
               
#spring:
#  cloud:
#    stream:
#      defaultBinder: kafka1
#      bindings:
#        starship-input:
#          destination: starship-input
#          group: requests
#        starship-output:
#          destination: starship-input
#      binders:                
#        kafka1:
#          type: kafka
#                         
#      kafka:
#        binder:
#          replication-factor: 1
#          brokers: kafka:9092
#          configuration:
#            auto:
#              offset:
#                reset: earliest  

######## JMS

#spring:
#  cloud:
#    stream:
#      defaultBinder: local1
#      bindings:
#        starship-input:
#         destination: starship-input
#        starship-output:
#         destination: starship-input
#      binders:
#        local1:
#          type: jms
#          environment:
#            spring:
#              activemq:
#                protocol: tcp
#                host: localhost
#                port: 61616
#                username: user-amq
#                password: password-amq
                
management:
  endpoints:
    web:
      exposure:
        include: info,health,messaging,sending                
  endpoint:
    health:
      enabled: true
    sending:                
      enabled: true
  health:
    rabbit:
      enabled: false
    sending:
      enable: true

server:
  port: 8080
